*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header {
    text-align: center;
}
// changing direction going from right to left to enable preceding elements
// of hovered or clicked star to have the same hover or active state
.stars {
  direction: rtl; 
  text-align: center;
}
.stars ul {
  list-style-type: none;
  padding: 0;
}
.star {
  cursor: pointer;
  font-size: 4em;
  display: inline-block;

  &::before {
    content: "\2606"; // getting star from UTF-8 charset 
  }
}
// state of star upon hover
.stars ul > .star:not(.no-hover):hover::before,
.stars ul > .star:not(.no-hover):hover ~ .star::before {
  content: "\2605";     
  color: grey;
}
// state of star upon click
.stars ul > .star.active::before
// .stars ul > .star.active ~ .star::before 
{
  content: "\2605";
  color: black !important;
}
.noHover{
    pointer-events: none;
}
