*::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

.header {
    
}
.stars {
    direction: rtl;            // changing direction going from right to left to enable selection of preceding elements
    text-align: center;
}
.stars.disabled {
    pointer-events: none;
}

.single-star {
    cursor: pointer;
   
    &::before {
        content: "\2606";
    }

 }
.stars > .single-star:hover::before,
.stars > .single-star:hover ~ .single-star::before {         // ~ to select succeeding elements 
    content: "\2605";
    color: grey;
 }
.stars > .single-star.active::before,
.stars > .single-star.active ~ .single-star::before {         // ~ to select succeeding elements 
    content: "\2605";
    color: black;
 }

