*::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

.header {
    
}
.stars {
    direction: rtl;
    text-align: center;
}

.single-star {
    cursor: pointer;
   
    &::before {
        content: "\2606";
    }

 }
.stars > .single-star:hover:before,
.stars > .single-star:hover ~ .single-star:before {
    content: "\2605";
    color: grey;
 }

